
.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
 
  .table th {
    background-color: rgb(64, 60, 60); /* Primary color */
    color: white;
    text-align: left;
    padding: 8px;
  }
  
 
  .table td {
    padding: 8px;
  }
  

  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
 
  .table tr:hover {
    background-color: #ddd;
  }
  